
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title%}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block extra_js %}{% endblock %}

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="container">

      {% block content %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>

  </body>
</html>