<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>eStmtn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    {% block extra_header %}{% endblock %}
    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">eStmtn</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{% url dashboard %}">Home</a></li>
            {% if user.is_authenticated %}<li><a href="{% url legacy %}">Requirements</a></li>{% endif %}
            {% if user.is_authenticated %}<li><a href="{% url estimate %}">Estimate!</a></li>{% endif %}
            {% if user.is_authenticated %}<li><a href="{% url results %}">Results!</a></li>{% endif %}
            {% if user.is_authenticated %}<li><a href="{% url auth_logout %}">Log Out</a></li>{% else %}<li><a href="{% url auth_login %}">Log In</a></li>{% endif %}
            </ul>
            <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
            {% block extra_menu %}{% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container-fluid">
    <div class="row-fluid">
        {% block content %}{% endblock %}
        <hr>
    </div>
    </div><!--/span-->
    <!--/.fluid-container-->
      <footer>
        <p>&copy; Estmtn 2012</p>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>

  </body>
</html>
