{% extends "base.html" %}
{% load thumbnail %}
{% block title%}Dashboard{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
{% include "estimator/estimated_stories_list.html" %}
    <div class="span9">
          <div class="hero-unit">
            <h2>eStmtn</h2>
            <p>Quick and easy agile project estimation.</p>
            <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
          </div>
        </div>


{% endblock %}
