
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Estimated Stories</li>
                {% for story in estimated_stories %}
                    <li {% if story_id == story.id %}class="active"{% endif %}><a  href="{% url estimate story.id %}">{{ story.name }}</a> </li>

                {% endfor %}
            </ul>
        </div><!--/.well -->
    </div><!--/span-->


<!--
<div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% for user_role in roles %}
                    <li class="nav-header">{{ user_role }}</li>
                    {% for story in user_role.userstories_set.all %}
                        <li {% if story_id == story.id %}class="active"{% endif %}><a  href="{% url estimate story.id %}">{{ story.name }}</a> </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
-->