{% extends "base.html" %}
{% load thumbnail %}
{% load mptt_tags %}
{% block title%}Dashboard{% endblock %}

{% block extra_header %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/lightbox.css" type="text/css" media="screen" />

    <script language="javascript">
        function toggle() {
	        var ele = document.getElementById("browser");
	        var text = document.getElementById("displayText");
	        if(ele.style.visibility == "hidden") {
    		        ele.style.visibility = "visible";
                    text.innerHTML = "hide browser";
  	        }
	        else {
		        ele.style.visibility = "hidden";
		        text.innerHTML = "show browser";
	        }
        }
        function pagename(name) {
	        var ele = document.getElementById("page_title");
            ele.innerHTML = name;
        }
    </script>
    
{% endblock %}

{% block extra_menu %}

<p><a id="displayText" class="navbar-text pull-right" href="javascript:toggle();">show browser</a></p>
    <p id="page_title" class="navbar-text pull-right">Nothing Selected &nbsp;</p>
{% endblock %}

{% block content %}
    {% include "estimator/estimated_stories_list.html" %}
<div class="span9">
<div class="hero-unit">
    <h1></h1>
    <p>Functional Requirements</p>
    <table>
        <tr>
            <td rowspan="2">
                    <ul>
                        {% recursetree nodes %}
                        <li>
                            {{ node.name }} ( {% if user.is_superuser %}<A href="/admin/estimator/legacynode/{{ node.id }}" onclick="javascript:pagename('{{ node.name }}');" target="browser">Edit</A> | {% endif %}
                            {% if node.url %}<A href="{{ node.url }}" onclick="javascript:pagename('{{ node.name }}');" target="browser">Link</A> | {% endif %}
                            {% if node.site_photo %}<a href="{{ MEDIA_URL }}{{ node.site_photo }}" rel="lightbox[pictures]" onclick="javascript:pagename('{{ node.name }}');">Photo</a>{% endif %} ) {% if node.form %}<i style="color: red;">*has form</i>{% endif %}
                        <!--
                        {# thumbnail node.site_photo "100x100" crop="left" as im #}
                            <a href="{{ MEDIA_URL }}{{ node.site_photo }}" rel="lightbox[pictures]">
                             <img src="{{ im.url }}">
                            </a>
                        {# endthumbnail #}
                        -->
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}
                    </ul>

            </td>
            <td style="vertical-align: text-top;">
                <br>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Site:</th>
                        <td><a href="http://www.poweru.net/ebay">http://www.poweru.net/ebay</a></td>
                    </tr>
                    <tr>
                        <th>Pages:</th>
                        <td>{{ nodes.count }}</td>
                    </tr>
                    <tr>
                        <th>Forms:</th>
                        <td>{{ form_count }}</td>
                    </tr>
                    <!--
                    <tr>
                        <th>
                            Download:
                        </th>
                        <td>
                           <a href="{{ MEDIA_URL }}documents/lms_legacy.docx">DOCX</a> or <a href="{{ MEDIA_URL }}documents/lms_legacy.pdf">PDF</a>
                        </td>
                    </tr>
                    -->
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: text-top;">
                <div style="position:fixed; top:100px;">
                    <iframe id="browser"  style="visibility: hidden;" height="600" width="500" src="/admin/" name="browser"></iframe>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>

{% endblock %}



