{% extends "base.html" %}
{% load thumbnail %}
{% block title%}Dashboard{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
    {% include "estimator/estimated_stories_list.html" %}
        <div class="span9">
          <div class="hero-unit">
            <a href="{% url feature requirement.core_feature.id %}">{{ requirement.core_feature.name }}</a> > <b>{{ requirement.name }}</b>
                  <hr>
            <form action="." method="post">
                    <input name="core_feature" id="id_core_feature" type="hidden" value="{{ requirement.core_feature.id }}">
                    <table class="table table-striped">
                        {{ form.as_table }}
                            <td colspan="2" style="text-align: right">
                                {% csrf_token %}
                                <p><a class="btn btn-danger">Delete</a>  <button type="submit" class="btn btn-primary">Update</button></p>
                            </td>
                        </tr>
                    </table>
                </form>

          </div>



        </div>

{% endblock %}



