{% extends "base.html" %}
{% load thumbnail %}
{% block title%}Dashboard{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
    {% include "estimator/component_list.html" %}
        <div class="span9">
          <div class="hero-unit">
            <h1>{{ core_feature.name }}</h1>
            <p>{{ core_feature.description }}</p>
            <p><a class="btn btn-large">Edit Feature Info &raquo;</a></p>
          </div>


             {%  for requirement in core_feature.requirement_set.all %}
                
                {% cycle '<div class="row-fluid">' ''%}

                <div class="span5" style="border: solid 1px; border-color: #EEEEEE;">

                <table class="table table-striped">
                <tR>
                    <th colspan="2"><h3>{{ requirement.name }}</h3></th>
                </tR>
                <tr>
                    <th>Points:</th>
                    <td>{{ requirement.points }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                        <td>{{ requirement.status }}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ requirement.description|truncatewords:25 }} ...</td>
                </tr>
                <tr>
                    <th>Notes:</th>
                    <td>{{ requirement.description|truncatewords:25 }} ...</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right">
                        <p><a class="btn btn-info" href="{% url requirement requirement.id %}">Details &raquo;</a></p>
                    </td>
                </tr>
                </table>
                </div><!--/span-->
                {% cycle '' '</div><!-- endrow-->' %}




                 <!-- Create New Requirement -->



                {% if forloop.last %}

                {% if forloop.counter|divisibleby:2 %} <div class="row-fluid"> {% endif %}

                <div class="span5" style="border: solid 1px; border-color: #80B2FF;">
                <form action="." method="post">
                    <input name="core_feature" id="id_core_feature" type="hidden" value="{{ core_feature.id }}">
                <table class="table table-striped">
                <tR>
                    <th colspan="2"><h3>New Requirement</h3></th>
                </tR>
                <tr>
                    <th><label for="id_name">Name:</label></th>
                    <td><input id="id_name" type="text" name="name" maxlength="255" /></td>
                </tr>
                <tr>
                    <th><label for="id_points">Points:</label>
                    </th><td><select name="points" id="id_points">
                        <option value="" selected="selected">---------</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="9">9</option>
                        <option value="x">∞</option>
                    </select></td>
                </tr>
                <tr>
                    <th><label for="id_status">Status:</label></th>
                        <td><select name="status" id="id_status">
                            <option value="" selected="selected">---------</option>
                            <option value="0">Pointless</option>
                            <option value="1">Interesting</option>
                            <option value="2">Nice to Have</option>
                            <option value="3">Want</option>
                            <option value="5">Need</option>
                    </select></td>
                </tr>
                <tr>
                    <th><label for="id_description">Description:</label></th>
                    <td><textarea id="id_description" rows="3" cols="5" name="description"></textarea></td>
                </tr>
                <tr>
                    <th><label for="id_notes">Notes:</label></th>
                    <td><textarea id="id_notes" rows="3" cols="5" name="notes"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right">
                        {% csrf_token %}
                         <button type="submit" class="btn btn-primary">Create Requirement</button>

                    </td>
                </tr>
                </table>
                </form>
                </div><!--/span-->

                </div><!-- endrow-->
                {% cycle '' '</div><!-- endrow-->' %}
                {% endif %}

                 <!-- END CREATE NEW REQUIREMENT -->

             {% endfor %}
        </div>

{% endblock %}



