{% extends "base.html" %}
{% load thumbnail %}
{% load mptt_tags %}
{% block title%}Dashboard{% endblock %}

{% block extra_header %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/lightbox.css" type="text/css" media="screen" />

    <script language="javascript">
        function toggle() {
	        var ele = document.getElementById("browser");
	        var text = document.getElementById("displayText");
	        if(ele.style.visibility == "hidden") {
    		        ele.style.visibility = "visible";
                    text.innerHTML = "hide browser";
  	        }
	        else {
		        ele.style.visibility = "hidden";
		        text.innerHTML = "show browser";
	        }
        }
        function pagename(name) {
	        var ele = document.getElementById("page_title");
            ele.innerHTML = name;
        }
    </script>
    
{% endblock %}

{% block extra_menu %}

<p><a id="displayText" class="navbar-text pull-right" href="javascript:toggle();">show browser</a></p>
    <p id="page_title" class="navbar-text pull-right">Nothing Selected &nbsp;</p>
{% endblock %}

{% block content %}
    {% include "estimator/estimated_stories_list.html" %}
<div class="span9">
    <h1>Functional Requirements</h1>
    <h3>Total: {{ total_hours }} hours</h3>

    <table>
        <tr>
            <td rowspan="2">
                    <ul>
                        {% recursetree nodes %}
                        <li>
                            <h2>{{ node.name }}</h2> {% if node.estimate %}
                            <p style="color:red">{{ node.estimate }}</p>{% endif %}
                            {% if node.userstory_set.all %}
                            <!--<h4>User Stories</h4>-->
                            <ul>
                            {% for story in node.userstory_set.all %}<li>{{ story.name }}</li>{% endfor %}
                            </ul>
                            {% endif %}
                        <br>
                        <!--
                        {# thumbnail node.site_photo "100x100" crop="left" as im #}
                            <a href="{{ MEDIA_URL }}{{ node.site_photo }}" rel="lightbox[pictures]">
                             <img src="{{ im.url }}">
                            </a>
                        {# endthumbnail #}
                        -->
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}
                    </ul>

            </td>
            
        </tr>
        
    </table>
</div>

{% endblock %}



