
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% for component in component_list %}
                    <li class="nav-header">{{ component.name }}</li>
                    {% for feature in component.corefeature_set.all %}
                        <li {% if core_feature.id == feature.id %}class="active"{% endif %}><a  href="{% url feature feature.id %}">{{ feature.name }} - {{ feature.estimated }}</a> </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
