{% extends "base.html" %}
{% load thumbnail %}
{% load mptt_tags %}
{% block title%}Estimator{% endblock %}

{% block extra_header %}

{% endblock %}

{% block extra_menu %}
{% endblock %}

{% block content %}
    {% include "estimator/estimated_stories_list.html" %}
<div class="span9">
    <div class="hero-unit">
    <span class="current">
         Page {{ stories.number }} of {{ stories.paginator.num_pages }}.
    </span>
    <form action="." method="post">
        <table class="table table-striped">
            {{ form.as_table }}
        </table>
        <table style="width: 100%">
            <tr>
                <td style="text-align: left;">

            <!-- Paginator Controls -->

            <span class="step-links">
                {% if stories.has_previous %}
                    <a class="btn" href="?page={{ stories.previous_page_number }}">previous</a>
                {% endif %}

                {% if stories.has_next %}
                    <a class="btn" href="?page={{ stories.next_page_number }}">next</a>
                {% endif %}
            </span>

        <!-- END Paginator Controls -->


                </td>
                <td style="text-align: right;">
                    {% csrf_token %}
                    <p><a class="btn btn-danger">Delete</a>  <button type="submit" class="btn btn-primary">Update</button></p>
                </td>
            </tr>
        </table>
    </form>



        
    </div>
</div>

{% endblock %}



