{% extends "base.html" %}
{% load thumbnail %}
{% load mptt_tags %}

{% block extra_header %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/lightbox.css" type="text/css" media="screen" />

    <script language="javascript">
        function addup(points, money, hours) {
            var points = document.getElementById("points");
	        var hours = document.getElementById("hours");
	        var money = document.getElementById("money");
            var total = document.getElementById("total");
            var velocity = document.getElementById("velocity");

            total.innerHTML = '$' + (points.value * hours.value * money.value) + '.00 | ' + (points.value / velocity.value) + ' weeks to completion.' ;
        }
    </script>
    
{% endblock %}

{% block extra_menu %}
<p><a id="displayText" class="navbar-text pull-right" href="{% url csv %}">Export CSV</a></p>
{% endblock %}

{% block content %}
    
    <table class="table table-striped">
        <tr>
            <th>Story ID</th>
            <th>User Role</th>
            <th>Story</th>
            <th>Points</th>
            <th>Status</th>
            <th>Notes</th>
            
        </tr>
        {% for story in stories %}
        <tr>
            <td>{{ story.story_id }}</td>
            <td>{{ story.user_role.name }}</td>
            <td>{{ story.name }}</td>
            <td>{{ story.get_points_display }}</td>
            <td>{{ story.get_status_display }}</td>
            <td>{{ story.notes }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <table class="table table-striped">
                    <tr>
                        <th>Total Points:</th>
                        <td>
                            {{ total_points }}
                            <input id="points" name="points" type="hidden" value="{{ total_points }}">
                        </td>
                    </tr>
                    <tr>
                        <th>x hours per point</th>
                        <td>

                                <input id="hours" name="hours" type="text" class="span1" placeholder="hours">

                        </td>
                    </tr>
                    <tr>
                        <th>x dollars per hour</th>
                        <td>
                                <input id="money" name="money" type="text" class="span1" placeholder="$">
                        </td>
                    </tr>
                    <tr>
                        <th>velocity (points per week)</th>
                        <td>
                                <input id="velocity" name="velocity" type="text" class="span1" placeholder="-->">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit"  OnClick="addup()"class="btn btn-primary">Estimate</button></p>
                        </td>
                        <td>
                            <div id="total"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


{% endblock %}



